{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Blake's Catholic Finder</h1>
<h2>Three options in boxes here: bible stuff, CCC stuff, or find a service near you</h2>
<h2>Bible option: user input, showing selected bible verses, expand to show greek and other stuff like that.</h2>
<h2>CCC option: reference cool stuff there, like bible verse connections.</h2>
<h2>Database should store Pittsburgh Diocese website info, then parish info globally.</h2>
{% endblock %}
